button {
    background-color: #7196e3;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.loginBtns {
    background-color: #7196e3;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}
/* Login page styling */
.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #aabde6;
    padding: 25vh 0;
    margin: 5vh 25vh;
    border-radius: 15%;
}

.formStyling {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    align-items: center;
}

.productStyling {
    display: grid;
    background-color: #aabde6;
    border-radius: 15%;
    grid-auto-columns: 1fr 1fr;
    align-items: center;
    margin: 0.5em;
    padding: 0.5em;
}

.boxRow {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

.boxColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}

.cstStyling {
    display: grid;
    background-color: #aabde6;
    border-radius: 15%;
    grid-auto-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0.5em;
    padding: 2em;
}

.admStylingItem {
    display: flex;
    flex-direction: column;
    background-color: #aabde6;
    border-radius: 15%;
    align-items: center;
    margin: 0.5em;
    padding: 3em;
}

.sectionAdm {
    display: flex;
    flex-direction: column;
    background-color: #aabde6;
    padding: 5vh 0;
    margin: 5vh 25vh;
    border-radius: 15%;
}

.margin {
    margin: 0.2em;
}

/* Customer Products */
.secBorder {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: flex-start;
}

.numStyling {
    max-width: 4vh;
    margin: 0 1em 0 0;
}

/* SingleUser */
.boxColumnSingle {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid black;
}

.paddingBottom {
    padding-bottom: 0.2em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.margin2 {
    margin: 0.5em;
}


